.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .root {
    display: block;
    width: 100%;
  }
  .title {
    margin-bottom: 30px !important;
    font-size: 20px !important;
  }
}
